.profile-nav .container {
	border-radius: 5px;
}

.profile-nav ul li {
	float: left;
}

.profile-nav li:not(.active) a {
	color: #ffffff !important;
}

.profile-nav ul .active a {
	border-radius: 5px;
}

.profile-nav .container {
	background-color: #404040;
	width: unset;
}
