@media (max-width: 767px) {
	.vehicle-specs.seller {
		margin-left: 0 !important;
	}

	.vehicle-image {
		max-height: 300px !important;
	}
}

.vehicle-specs {
	border: 1px solid #adadad;
	border-radius: 5px;
	padding: 20px;
}

	.vehicle-specs.seller {
		margin-left: 50px;
	}

.vehicle-heading {
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}

.vehicle-edit {
	position: absolute;
	top: 10px;
	right: 10px;
}

.vehicle-image {
	max-height: 600px;
}
